{% extends 'base.html.twig' %}


{% block body %}
    {% block nav %}{% include 'navbar.html.twig' %}{% endblock %}
            <br><br><br><br>

            <table class="table">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Naam</th>
                    <th scope="col">Kosten</th>
                </tr>
                </thead>
                <tbody>
            {% for a in ijsrep %}
                <tr>
                    <th scope="row">{{ a.id }}</th>
                    <td>{{ a.naam }}</td>
                    <td>{{ a.kosten }}</td>
                    {% if is_granted('ROLE_ADMIN') %}
                    <td><a href="{{ path('delete', {'id': a.id}) }}"><button>Delete</button></a></td>
                    <td><a href="{{ path('update_ijsrep', {'id': a.id}) }}"><button>Update</button></a></td>
                    {% endif %}
                </tr>
            {% endfor %}
                </tbody>
            </table>

            {% block footer %}
                <footer class="page-footer font-small blue fixed-bottom ">

                    <!-- Copyright -->
                    <div class="footer-copyright text-center py-3">© 2020 Copyright: Mehmet Yildiz
                    </div>
                    <!-- Copyright -->

                </footer>

            {% endblock %}
        </div>
    </div>
{% endblock %}










