{% block nav %}
    <nav class="navbar navbar-expand-lg navbar-light blue">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand" href="#">Venezia</a>

        <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                <li class="nav-item active">
                    <a class="nav-link" href="/home">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/ijsAanbod">Ijs Aanbod</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/info">Contact</a>
                </li>

                {% if is_granted('ROLE_ADMIN') %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('ijs_show') }}">Ijs Lijst</a>
                </li>

                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('ijsrep_toev') }}">Ijsrecept Toevoegen</a>
                    </li>
                {% endif %}
            </ul>
            <form class="form-inline my-2 my-lg-0">
                {% if app.user %}
                    <button class="btn btn-outline-success my-2 my-sm-0"><a href="{{ path('app_logout') }}">Logout</a></button>
                    &nbsp&nbsp&nbsp&nbsp
                {% else %}
                    <button class="btn btn-outline-success my-2 my-sm-0"><a href="{{ path('app_register') }}">Registreren</a></button>
                    &nbsp;&nbsp;&nbsp;
                    <button class="btn btn-outline-success my-2 my-sm-0"><a  href="{{ path('app_login') }}">Login</a></button>
                {% endif %}
            </form>
        </div>
    </nav>
    <div class="card mb-3">
        <img src="img/ijsss.jpg" class="card-img-top img" alt="...">
        <div class="card-body">
        </div>

{% endblock %}